<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='icon' href='#' type='image/x-icon'>
      <meta charset="UTF-8">
      <title>Wanna Eat | Restaurant Suggestions</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
   </head>

      <body>
