@import "variables.scss";

* {

	padding: 0;
	margin: 0;
}

body {

	color: $font-color-main;
	font-size: 16px;
	font-family: $montserrat-font-main;

}

// BEGIN INDEX PAGE STYLES
.head-logo {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.form-container {

	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	.zipcode {

		width: 340px;
		padding: 10px;
		outline: none;
		text-align: center;
		border: none;
		border-radius: $border-radius;
		-webkit-box-shadow: $box-shadow;
		        box-shadow: $box-shadow;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		color: $font-color-main;
		margin-bottom: 30px;
	}

	.zipcode:hover {

		-webkit-box-shadow: $box-shadow-hover;

		        box-shadow: $box-shadow-hover;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;

	}

	.zipcode:focus {

		width: 380px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		-webkit-box-shadow: $box-shadow-hover;
		        box-shadow: $box-shadow-hover;
	}

	.radio-btns {

		font-size: .7em;
		margin-top: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 60%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

		.option {

			margin-bottom: 4px;
		}

		label {

			margin-right: 12px;
			margin-left: 4px;
		}
	}
}

// BEGIN SEARCH RESULTS PAGE STYLES

 .map-results-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#map {
  height: 100vh;
  width: 75%;
  position: fixed; }

#info-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding: 6px;
  -webkit-box-shadow: 1px 1px 2px #797979;
          box-shadow: 1px 1px 2px #797979;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
  background-image: -webkit-linear-gradient(bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  background-image: -o-linear-gradient(bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  overflow-x: scroll;
  height: 100vh;
  	img {

  		margin: 8px 0;
  	}
  }

.info-panel {
  width: 100%;
  letter-spacing: .5px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 6px;
  background: $info-panel-bg-color;
  -webkit-box-shadow: $info-panel-box-shadow;
          box-shadow: $info-panel-box-shadow;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
 
	p {
	  color: $info-panel-font-color;
	  font-size: .8em; 
	}

    a {
	  margin-bottom: 10px;
	  margin-top: 10px;
	  font-size: .6em;
	  letter-spacing: 0;
	  text-decoration: none;
	  color: $info-panel-link-color;
	  -webkit-transition: .3s;
	  -o-transition: .3s;
	  transition: .3s;
	}

	a:hover {

		color: $info-panel-link-hover;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}

    p:nth-child(5) {

	   margin-top: 14px;
	   font-size: .9em;
	   background: $info-panel-phone-number-bg;
	   padding: 4px 8px;
	   font-weight: 600;
	   -webkit-box-shadow: $info-panel-phone-box-shadow;
	           box-shadow: $info-panel-phone-box-shadow;
	}

 }

 .info-panel:hover {

   -webkit-box-shadow: $info-panel-hover;

           box-shadow: $info-panel-hover;
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
 }