$montserrat-font-main: Montserrat, sans-serrif;
$font-color-main: #595959;
$font-color-bold: #333333;
$border-radius: 2px;
$border-line: 2px solid #797979;
$box-shadow: 1px 1px 4px #999999;
$box-shadow-hover: 0 0 8px #99c2ff;
$info-panel-bg-color: #ffffff;
$info-panel-box-shadow: 1px 1px 2px #797979;
$info-panel-font-color: #8c8c8c;
$info-panel-link-color: #797979;
$info-panel-link-hover: #a8a8a8;
$info-panel-phone-number-bg: #e8e8e8;
$info-panel-phone-box-shadow: 1px 1px 2px #797979;
$info-panel-hover: 0 0 2px #83C9F4;

